<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rural_healthy_mom_to_be">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".onBoarding.SplashActivity">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".onBoarding.SliderActivity"
            android:theme="@style/AppTheme.NoActionBarOnBoarding">

        </activity> <!-- ToDo: RR made mainactivity default activity -->
        <activity android:name=".MainActivity">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity
            android:name=".View.NavigationDrawer"
            android:label="@string/title_activity_homepage"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.FormActivity"
            android:label="Registration Form" />
        <activity android:name=".View.WelcomeActvity" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDzVi7Qme8Mpbwyn7qSVq7jrUBi8G-ryAM" />
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-permission android:name="android.permission.INTERNET" />

</manifest>